:root {
  --van-primary-color: #1989fa;
  --van-success-color: #07c160;
  --van-danger-color: #ee0a24;
  --van-warning-color: #ff976a;
  --van-text-color: #323233;
  --van-active-color: #f2f3f5;
  --van-background-color: #f7f8fa;
  --van-background-color-light: #fafafa;
} 